
/*Contactos*/
.contact {
    max-width: 1320px; 
    margin: 0 auto; 
    padding: 10px 20px 0px; 
    color: #232323;
    &-row {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 32px;
        align-items: stretch;
    }
    &-form {
        form {
            display: flex;
            flex-direction: column;
            gap: 14px;
            width: 520px;
            input, textarea {
                width: 100%;
                padding: 10px;
                border: 1px solid #ccc;
                border-radius: 6px;
            }
            button {
                background: #d23a3a;
                color: #fff;
                border: none;
                padding: 12px;
                border-radius: 6px;
                font-weight: bold;
                cursor: pointer;
                &:hover {
                    opacity: .85;
                }
            }   
        }
    }
    &-social {
        max-width: 100%;/* mismo ancho que los inputs */
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        gap: 18px;/* espacio entre cada red */
        a {
            display: flex;
            align-items: center;
            gap: 12px;
            text-decoration: none;
            color: #232323;
            font-size: 20px;/* tamaño del texto */
            font-weight: 500;
            i {
                font-size: 28px;/* ajustá el tamaño del logo */
                color: #d23a3a;/* color de marca */
                min-width: 28px;/* asegura alineación */
                text-align: center;
            }
            &:hover {
                color: #d23a3a;
            }
        }
    }
}

