/*fondo blanco y ligera sombra como en el ejemplo*/
.topbar{
    background:#fff;
    padding-bottom: 18px;
    padding-top: 12px;
}

/*Quitar el azul de los links y subrayado*/
.topbar a{
    color:#232323;
    text-decoration:none;
}
.topbar a:hover{ 
    color:#232323; 
}

/*para asegurar centrado vertical del logo en su celda*/
.topbar .d-flex.align-items-center{
    min-height: 64px; /*mismo alto visual del logo*/
}

/*Logo*/
.topbar .logo-header{   
    height:100px; 
    width:auto; 
    display:block; 
}
.logo-header{ 
    height:56px; 
    width:auto; 
    display:block; 

}
@media (min-width:992px){ 
    .logo-header{ height:60px;} 
}
@media (min-width:1320px){
    .logo-header{height:60px;} 
}

/*Marca a la izquierda*/
.brand-link{ 
    align-items:center; 
}
.brand-text{ 
    line-height:1.05; 
    font-weight:bold; 
    margin-left: 5px;
}

/*input más alto, con borde rojo grueso y esquinas redondeadas*/
.search-input{
    border:2px solid #d23a3a;
    height: 48px;
    font-size:1rem;
    border-radius:6px;
}

.search-input::placeholder{ 
    color:#d23a3a; 
}
.search-input:focus{
    border-color:#d23a3a;
    box-shadow:0 0 0 .2rem rgba(210,58,58,.12);
}

/*botón del buscador*/
.btn-search{
    background:#d23a3a;
    color:#fff;
    border:2px solid #d23a3a;
    border-top-right-radius:12px;
    border-bottom-right-radius:12px;
    padding:0.9rem 1rem;/*mismo alto que el input*/
}
.btn-search:hover{  
    background:#b32f2f;
    border-color:#b32f2f; 
}

/* Botón de lupa */
.btn-red {
    background-color: #d23a3a;
    color: #fff;
    border-radius: 0 6px 6px 0;
}

/*==== Carrito a la derecha, rojo con ícono ====*/
.cart-link{     
    color:#d23a3a; 
    font-weight:700; 
}
.cart-link:hover{ 
    color:#b32f2f; 
}
.cart-icon{ 
    font-size:1.25rem; 
}


@media (max-width:576px){
    .topbar-row{
        flex-wrap: nowrap;
    } /* evita salto de línea */
    .logo-header{
        height:42px;
        margin-right: 10px;
    } /* baja un poco el alto en XS */
    .search-input{
        border-radius:6px !important;
    }/* esquinas completas */
    .cart-icon{
        margin-right: 30px;
    }
    .searchbar{
        flex: 1;  /*ocupa el espacio disponible*/
        max-width: 500px; /*límite para que no se haga gigante*/
    }
    .topbar .row {
        display: flex;
        align-items: center; /*centra verticalmente*/
        justify-content: center; /*centra horizontalmente*/
    }   
}
